.FundoImg{
  background-color: rgb(146, 146, 146);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 100%;
}

.FundoImg:hover {
  background-color: rgb(255, 15, 15);
}

img {
  width: 150px;
}