.container {
  width: 1200px;
  margin: auto;
}

.body{
  background-color: white;
  border-radius: 20px;
  padding: 10px 30px;
  margin: 20px 0;
}

.body p {
  text-align: justify;
  margin: 20px 0;
}

.iframeVideo {
  width: 1005px;
  height: 565px;
}

.video {
  text-align: center;
}